# anaconda-iso: root + /boot (types from workflow rootfs: btrfs).
# ISO and installer branding so "Zaatar" appears in installer, boot menu, and ISO label.

[customizations.iso]
volume_id = "Zaatar"
application_id = "Zaatar 1.0"
publisher = "Zaatar"

[[customizations.filesystem]]
mountpoint = "/boot"
minsize = "512 MiB"

[[customizations.filesystem]]
mountpoint = "/"
minsize = "10 GiB"

[customizations.installer.kickstart]
contents = """
%post
bootc switch --mutate-in-place --transport registry ghcr.io/maher-xs/zaatar:latest
%end
"""

[customizations.installer.modules]
enable = [
  "org.fedoraproject.Anaconda.Modules.Storage",
  "org.fedoraproject.Anaconda.Modules.Runtime"
]
disable = [
  "org.fedoraproject.Anaconda.Modules.Network",
  "org.fedoraproject.Anaconda.Modules.Security",
  "org.fedoraproject.Anaconda.Modules.Services",
  "org.fedoraproject.Anaconda.Modules.Users",
  "org.fedoraproject.Anaconda.Modules.Subscription",
  "org.fedoraproject.Anaconda.Modules.Timezone"
]
